/* Fonts */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf'),
         url('../fonts/Poppins/Poppins-Italic.ttf'),
         url('../fonts/Poppins/Poppins-Bold.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/Indie_Flower/IndieFlower.ttf');
    font-style: normal;
    font-weight: 400;
}

.poppins-normal {
    font-family: 'Poppins', sans-serif;
}

.indie-normal {
    font-family: 'Indie Flower', cursive;
}

/* Tile Styles */

#utsc {
    background-color: #001E42;
    color: white;
    text-align: right;
    background-image: url('../assets/uoft-logo.svg');
}

#thomson {
    background-color: #FF5600;
    color: white;
    background-image: url('../assets/tr-logo.svg');
}

#ministry {
    background-color: #123b32;
    color: white;
    background-image: url('../assets/ministry-logo.svg');
}

#hobbies {
    background-color: #c51000;
    color: white;
    background-image: url('../assets/mario-kart.svg');
}

#contact {
    background-color: violet;
    color: white;
}

/* Header/Footer */

#header {
    text-align: right;
    vertical-align: middle;
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 99;
}

#header a {
    color: white;
}

#footer {
    left: 0;
    bottom: 0;
    height: 7vh;
    vertical-align: middle;
    width: 100%;
    background-color: white;
    color: rgb(195, 195, 195);
    text-align: center;
}

/* Stuff */

.parallax {
    /* Set a specific height */
    min-height: 7vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section p {
    display: table-cell;
    font-size: 5vmin;
    max-width: 50vw;
    min-width: 200px;
    overflow: hidden;
    padding: 0 20vw 0 20vw;
    text-align: left;
    vertical-align: middle;
    width: 50vw;
    word-wrap: break-word;
    transition: all .7s ease-in-out;
}

.section ul {
    text-align: left;
    max-width: 50vw;
    min-width: 200px;
    padding: 0 20vw 0 20vw;
}

.section ul li {
    display: inline;
}

.section ul li a {
    vertical-align: middle;
    font-size: 3vmin;
    display: table-cell;
    padding: 8px;
    color: white;
}

/* Transitions */

.section > .fp-tableCell p {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.section.active > .fp-tableCell p {
	opacity: 1;
}

/* Vertical Navbar */

#fp-nav.invert ul li a span, 
.fp-slidesNav.invert ul li a span {
    filter: invert(1);
}

